@media (min-width:800px){
    .project-one{
float: left;
margin-left: 20%;
margin-bottom: 5%;
    }
    .project-two{
        float: right;
        margin-right: 20%;
        margin-bottom: 5%;
    }
    .project-three{
        float: left;
        clear: both;
        margin-left: 20%;
    }
    .project-four{
        float: right;
        margin-right: 20%;
    }
 
}

@media (max-width:800px){
.project-one, .project-two, .project-three, .project-four{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 15px;

}
}

body{
    padding-bottom: 100px;
    background-image: url("./images/ep_naturalwhite/ep_naturalwhite.png");
}

p{
    text-align: center;
}

.nav{
    border-style: solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.nav-link{
    color: black;
}

.jumbotron{
    background-image: url("./images/ep_naturalwhite/ep_naturalwhite.png");
    text-align: center;
}

.mb-3{
    margin: 0 auto;
    padding: 20px;
    background-image: url("./images/ep_naturalwhite/ep_naturalwhite.png");
}

.card-title, .card-subtitle, .card-link{
    text-align: center;
}

.card-text{
    padding-bottom: 20px;
}

.link-right{
    text-align: right;
}

.list-group{
    text-align: center;
}

.project-one, .project-two, .project-three, .project-four, .list-group-item{
    background-image: url(./images/white_texture/white_texture.png);
}

.finalcard{
margin-bottom: 80px;;
}

.breakcontact{
    margin-bottom: 70px;
}

.copyright{
padding-top: 15px;
}

.footer {
    height: 7%;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-image: url("./images/ep_naturalwhite/ep_naturalwhite.png");
    border-style: solid;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}